
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">  
	
	<link rel="icon" href="../../favicon.ico">
	<title>plp and pdp</title>

	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Gentium+Basic:400" rel="stylesheet"/>
	<link href="css/lightbox.css" rel="stylesheet">
	<link href="css/dark.css" rel="stylesheet">

	<link rel="stylesheet"  href="css/style.css"/>
	<script type="text/template" id="tmp-pictureItem">
	<div class="shoppingListItemContent">
		<a href="<%= image %>" data-toggle="lightbox">
			<img src="<%= thumb %>" class="img-responsive" />
		</a>
		<!-- Button trigger modal -->
		<div class="clearfix">
			<div class="product-tags pull-left">
				<span class="label label-danger"><%= photographer %></span>
				<span class="label label-info"><%= tag %></span>
			</div>
			<div class="product-price pull-right">
				<span class="price">Rs <%= price.toFixed(2) %></span>
			</div>
		</div>
		<div class="infos">
			<h4 class="name text-info"><%= title %></h4>
			<button id="addCart" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart"></i> Add to cart</button>
			<button id="moreInfo" class="btn btn-primary btn-sm hidden-md"><i class="fa fa-info-circle"></i> More Info</button>
		</div>
	</div>
	</script>

	
	<script type="text/template" id="tmp-details">
	<div class="col-md-6">
		<a href="<%= image %>" data-toggle="lightbox"><img src="<%= image %>" class="img-responsive"/></a>
	</div>
	<div class="col-md-6">
		<div class="product-tags">
			<span class="label label-danger"><%= photographer %></span>
			<span class="label label-info"><%= tag %></span>
		</div>
		<h4><%= title %></h4>
		<p class="description"><%= description %></p>
		<div class="row">
			<div class="col-sm-3">
				<div class="product-price">€ <%= price.toFixed(2) %></div>
			</div>
			<div class="col-sm-6 col-md-offset-3">
				<button id="cart" class="btn btn-lg btn-danger"><i class="fa fa-shopping-cart"></i> Add to cart</button>
			</div>
		</div>
	</div>
	<button id="back" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
	</script>

	<script type="text/template" id="tmp-shoppingCartItem">
		<td class="name"><i class="fa fa-times-circle"></i> <%= title %></td>
		<td class="sub-total">€<%= total.toFixed(1) %></td>
	</script>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			
			</div>
			<div class="navbar-collapse collapse">
				<h2 id="basket-message" class="text-right">You have <span id="basket">0</span> items in your basket</h2>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-9  col-md-10  main" id="main">
				<div class="">
					<div id="app"></div>
				</div>
	
				<div class="row">
					<ul id="default-item-list" class="col-md-12"></ul>
				</div>
	
				<div class="row">
					<div id="detail"></div>
				</div>
			</div>
	
	
			<div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-2 sidebar" id="sidebar">
				<table id="shopping-cart" class="table table-responsive">
					<tbody id="shopping-list"></tbody>
					<tfoot>
						<tr>
							<td colspan="4" id="total">Rs 0.00</td>
						</tr>
					</tfoot>
				</table>
				
			</div>
		</div>
	 </div>


  <script src="js/libs/jquery-min.js"></script>
  <script src="js/libs/bootstrap-min.js"></script>
  <script src="js/libs/underscore-min.js"></script>
  <script src="js/libs/backbone-min.js"></script>
  <script src="js/libs/lightbox.js"></script>
  <script src="js/store.js"></script>
  </body>
</html>
